<div class="py-4 px-6 mx-auto w-[400px] border rounded flex items-center flex-col">
  <h1 class="my-2 mx-auto">{{ "Registration form" | titlecase }}</h1>
  <form>
    <input
      type="text"
      class="border w-full py-2 px-4 mb-2"
      placeholder="Name..."
      formControlName="name"
    >

    <input
      type="text"
      class="border w-full py-2 px-4 mb-2"
      placeholder="Image..."
      formControlName="image"
    >

    <input
      type="text"
      class="border w-full py-2 px-4 mb-2"
      placeholder="Category..."
      formControlName="category"
    >

    <input
      type="text"
      class="border w-full py-2 px-4 mb-2"
      placeholder="Gender..."
      formControlName="gender"
    >

    <input
      type="text"
      class="border w-full py-2 px-4 mb-2"
      placeholder="Description..."
      formControlName="description"
    >

    <input
      type="text"
      class="border w-full py-2 px-4 mb-2"
      placeholder="Price..."
      formControlName="price"
    >

    <button
      type="submit"
      class="py-2 px-4 bg-blue-500 text-white"
    >
      Add product
    </button>

  </form>
</div>

