<form
  *ngIf="!isSuccessful"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>

  <label>Password</label>
  <input
    type="text"
    class="border w-full py-2 px-4 mb-2"
    placeholder="Password..."
    [(ngModel)]="form.password"
    name="password"
    required
    minlength="6"
    #password="ngModel"
  >

  <div
    class="text-red-500 mb-2"
    role="alert"
    *ngIf="f.submitted && password.invalid"
  >
    Password is required!
  </div>

  <button
    type="submit"
    class="py-2 px-4 bg-blue-500 text-white"
  >
    Submit
  </button>

  <div
    class="text-red-500"
    *ngIf="f.submitted && isFailed"
  >
    Changing failed!<br />{{ errorMessage }}
  </div>

</form>

<div
  class="text-green-400"
  *ngIf="isSuccessful"
>
  Your password is successfully changed!
</div>
