<div class="py-4 px-6 border rounded flex items-center flex-col justify-center w-fit h-[400px] mb-2 mx-2">
  <img [src]="product.image" [alt]="product.name" class="h-[200px] mb-2">
  <h2 class="mb-2 text-md text-center">{{ product.name }}</h2>
  <p>Price: <span class="font-bold">{{ product.price | currency:'USD ' }}</span></p>

  <button
    class="border py-2 px-4 mt-4 w-fit h-min rounded bg-yellow-400"

    [routerLink]="['/aboutProduct', product.id]"
  >
    Show more
  </button>

  <div
    class="mt-4 flex justify-end"
    *ngIf="findRole()"
  >
    <button
      class="border py-1 px-2 mr-1 rounded bg-blue-400 text-white"
      (click)="modalService.open(product.id, 'update')"
    >
      &#9998;
    </button>

    <button
      class="border py-1 px-2 rounded bg-red-400 text-white"
      (click)="modalService.open(product.id,'delete')"
    >
      &times;
    </button>
  </div>
</div>

