<div class="flex flex-col py-4 px-6 border w-auto rounded mb-2 mx-auto">
  <div class="w-[900px] my-2">
    <img
      [src]="product.image"
      [alt]="product.name"
      class="mx-2 w-2/3"
    >
  </div>


  <div class="py-4 px-6 border-t rounded mb-2 flex flex-col justify-between">
    <div>
      <h2 class="mb-2 text-md text-left">{{ product.name }}</h2>

      <h3 class="mb-2 text-md text-left">{{ product.description }}</h3>
    </div>

    <p>Price: <span class="font-bold">{{ product.price | currency:'USD ' }}</span></p>
  </div>

  <div class="py-4 px-6 mb-2 flex flex-col justify-between">
    {{ product.sizes }}
  </div>

</div>
